.main {
    text-align: center;
}

.GFG {
    font-size: 60px;
    color: green;
}

#geeks {
    font-size: 25px;
    color: skyblue;
};
 div {
            background-color: yellow;
            width: 220px;
            height: 40px;
        }
        
.one {
            border: 5px dotted cyan;
            border-inline-style: solid;
            border-block-style: dashed;
            background-color: purple;
        }
.width{
            margin-bottom: 10px;
            border-style: solid;
            border-color: black;
            border-width: 5px 10px 15px 20px;
}
p.two {
        border-style: solid;
        border-color: blue red yellow green;
    }
.radius{
    border-radius: 20px 40px;
            background: #009900;
            padding: 30px;
            text-align: center;
            width: 300px;
            height: 120px;
}